@model ManageCoffee.Models.Coffee
@{
    ViewData["Title"] = "ThemCoffee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
<div class="card-body">
    <h1>Thêm thông tin coffee</h1>
    <form asp-action="Create" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" class="form-control" type="hidden"/>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Tên:</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label">Loại:</label>
                    <select asp-for="Type" class="form-control">
                        <option value="Nhỏ">Nhỏ</option>
                        <option value="Vừa">Vừa</option>
                        <option value="Lớn">Lớn</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label">Số Lượng:</label>
                    <input asp-for="Quantity"  type="number" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Giá:</label>
                    <input asp-for="Price" type="number" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Mô Tả:</label>
                    <textarea asp-for="Description" class="form-control" ></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="InStock" class="control-label">Tình Trạng:</label>
                    <input asp-for="InStock" class="form-control" />
                    <span asp-validation-for="InStock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label">Hình Ảnh:</label>
                    <input asp-for="Image" class="form-control" id="imgInp" type="file" name="formfile" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                    <img id="blah" src="#" alt="" style="width:30px; height:50px;float:right;margin-top:-45px;" />
                </div>
               <br />
                <div class="form-group">
                    <input type="submit" value="Thêm Coffee" class="btn btn-outline-primary btn-sm" />|

                    <a asp-action="DanhSachCoffee" class="btn btn-sm btn-outline-secondary">Quay lại danh sách coffee</a>

                </div>
            </div>
        </div>
    </form>
</div>
</div>
<script>
    imgInp.onchange = evt => {
        const [file] = imgInp.files
        if (file) {
            blah.src = URL.createObjectURL(file)
        }
    }
</script>