﻿@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="/assets/img/cup-of-drink.png" type="image/x-icon" />
    <link href="~/assets/css/login.css" rel="stylesheet" />
    <script src="~/assets/js/login.js"></script>
</head>
<body>
    <div class="login-page">
        <div class="alert alert-success" role="alert" id="">
            @TempData["Message"]
        </div>
        <div class="form">
            <form class="login-form" method="post" asp-action="DangNhap">
                <input type="text" name="Username" placeholder="username" required />
                <input type="password" name="Password" placeholder="password" required />
                <button>login</button>
                <p class="message">Chưa đăng ký tài khoản? <a asp-controller="Login" asp-action="DangKy">Tạo tài khoản</a></p>
            </form>
        </div>
    </div>
</body>
</html>