@model List<ManageCoffee.ViewModels.CartItem>
@{
    ViewData["Title"] = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="content">
    <div class="container">
        <h1>Đơn hàng của bạn đang được xử lý. Cảm ơn bạn!</h1>
    </div>
</div>
