@model List<ManageCoffee.ViewModels.CartItem>
@{
    ViewData["Title"] = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="content">
    <div class="container">
        <div class="row">
            <a><img width="99%" src="/assets/img/tks.png"></a>
        </div>
    </div>
</div>
